.authorisation-form, .registration-form, .body-banners, .body-add, .body-404, .body-banner, .index-body{
    padding: 50px 0;
}
.margin{
    margin: 25px 0;
}
.banner-item{
    margin-bottom: 25px;
}
.flex-caption {
    width: 100%;
    padding: 2%;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.3);
    font-size: 14px;
    line-height: 18px;
}
.slider-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider-box .flex-slider{
    width: 480px;
}
.footer-copyright a{
    font-size: 35px;
    color: black;
}
.footer-copyright a:hover{
    color: grey;
}
